{% comment %}
  Renders a container component that can contain other components

  Accepts:
  - title: {String} The title of the container
  - blocks: {Array} An array of blocks to render inside the container
  - hydration: {String} hydration mode - (default: 'on:idle')

  Usage:
  {% render 'component-c', title: 'Container Component', blocks: blocks, hydration: 'loading' %}
{% endcomment %}
{%- assign hydration = hydration | default: 'on:idle' -%}
<is-land {{ hydration }}>
  <component-c class="component-c">
    <h2>{{ title | escape }}</h2>
    <button data-confetti-time>Confetti Time!</button>
    {% if blocks.size > 0 %}
      <p>{{ 'labels.all_products' | t }}</p>
      <div class="component-c__blocks">
        {%- liquid
          for block in blocks
            case block.type
              when '@app'
                render block
              when 'component_a'
                render 'component-a', title: block.settings.title
              when 'component_b'
                render 'component-b', title: block.settings.title
            endcase
          endfor
        -%}
      </div>
    {% else %}
      <p>{{ 'info.404_page_not_found' | t }}</p>
    {% endif %}
  </component-c>
  <template data-island>
    <script type="module">
      import 'components/component-c';
    </script>
  </template>
</is-land>
