{% comment %}
  Renders a component with a circuit board background image

  Accepts:
  - title: {String} The title of the component

  Usage: {% include 'component-a' with title: 'Component a' %}
{% endcomment %}

<div class="component-a" style="--background-image: url('{{ 'circuit-board.svg' | asset_url }}');">
  {% if title != blank %}
    <h3 class="component-a__title">{{ title | escape }}</h3>
  {% endif %}
</div>
