{% comment %}
  Renders a component with a floating cog background image.

  Accepts:
  - title: {String} The title of the component
  - hydration: {String} hydration mode - (default: 'on:idle')

  Usage: {% include 'component-b' with title: 'Component b', hydration: 'on:idle' %}
{% endcomment %}
{%- assign hydration = hydration | default: 'on:idle' -%}
<is-land {{ hydration }}>
  <component-b class="component-b" style="--background-image: url('{{ 'floating-cogs.svg' | asset_url }}');">
    {% if title != blank %}
      <h3 class="component-b__title">{{ title | escape }}</h3>
    {% endif %}
  </component-b>
  <template data-island>
    <script type="module">
      import 'components/component-b';
    </script>
  </template>
</is-land>
