/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
.index-section {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (width >= 750px) {
    & {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.component-a {
  background-color: #dfdbe5;
  background-image: var(--background-image);
  border: 1px solid;
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}

.component-a__title {
  background: #fff;
  padding: .5em;
}

.index-section {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (width >= 750px) {
    & {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.component-b {
  background-color: #dfdbe5;
  background-image: var(--background-image);
  border: 1px solid;
  justify-content: center;
  align-items: center;
  height: 100px;
  display: flex;
}

.component-b__title {
  background: #fff;
  padding: .5em;
}

*, :before, :after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.15;
}

body {
  margin: 0;
}

hr {
  color: inherit;
  height: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: var(--typeBasePrimary);
  font-weight: var(--typeBaseWeight);
}

.index-section {
  padding-top: 35px;
  padding-bottom: 35px;

  @media (width >= 750px) {
    & {
      padding-top: 55px;
      padding-bottom: 55px;
    }
  }

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.component-c {
  background-color: #dfdbe5;
  padding: 40px;
  display: block;
}

.component-c__blocks {
  gap: 20px;
  display: grid;
}
