<div class="page-width">
  <h1>Component Directory</h1>
  <h2>Index views</h2>
  <ul>
    <li><a href="{{ routes.root_url }}?view=component-a">Component A</a></li>
    <li><a href="{{ routes.root_url }}?view=component-b">Component B</a></li>
    <li><a href="{{ routes.root_url }}?view=component-c">Component C</a></li>
  </ul>
  {% liquid
    assign collection = collections['all']
    assign product =collection.products | last
  %}
  {% if product %}
    <h2>Product views</h2>
    <ul>
      <li><a href="{{ product.url }}?view=component-a">Component A</a></li>
    </ul>
  {% endif %}
</div>
