<style>
  html,
  body {
    background: white;
  }

  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1px;
    margin-top: 0;
    min-width: 320px;
    padding: 0;

    border-radius: 2px;
    background: #cccfcc;
    box-shadow: 0 0 0 1px #cccfcc;
  }

  li {
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    padding: 6px;
    background: #f2f3f2;
  }

  li:hover {
    background: #e4e7e4;
  }

  li a {
    color: #555954;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.28px;
    line-height: 22px; /* 157.143% */
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0.5rem;
  }

  li a:hover {
    color: #1d211c;
  }
</style>

{% render 'template-map' %}

{% comment %} List of components{% endcomment %}
<ul></ul>

<script>
  // Get the template map data
  const templateMapScript = document.querySelector('[data-template-map]');
  const templateMap = JSON.parse(templateMapScript.textContent);

  // Generate the HTML
  const ul = document.querySelector('ul');
  Object.entries(templateMap).forEach(([componentName, routes]) => {
    Object.entries(routes).forEach(([category, route]) => {
      const li = document.createElement('li');
      li.innerHTML = `
        <a href="${route}">
          <span>${componentName}</span><span>&rarr;</span>
        </a>
      `;
      ul.appendChild(li);
    });
  });
</script>
